@font-face {
    font-family: Impact;
    font-weight: 700;
    src: url("assets/fonts/Impact.ttf") format("ttf");
}

* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: Impact, serif;
}

body{
    font-size: var(--font-size-main);
}

ul {list-style-type: none;}
a {text-decoration: none; color: black;}
button {cursor: pointer}
.link {background-color: transparent; color: black; border: none;}

:root{
    --font-size-main : 20px;
}